
<script type="text/javascript" charset="utf-8">

$(function(){

    $("#home-chart-four").highcharts({
        chart: {
                type: 'pie',
                // events: {
                //     load: function(event) {
                //       $('.highcharts-legend-item').last().append('<br/><div style="width:200px"><hr/> <span style="float:left"> Total </span><span style="float:none;"> ' + 100 + '</span> </div>')
                //     }
                //   }
        },
        title: {
                text: 'Puppies by color'
        },
        credits: {
            enabled: false
        },
        legend: {
            enabled: true,
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            borderWidth: 0,
            useHTML: true, 
            labelFormatter: function() {
                return this.name + ': ' + this.y;
            }
        },
        plotOptions:{
            pie:{
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels:{
                    enabled: true,
                    formatter: function(){
                        return '<b>' + this.point.name +'</b>: ' + this.y + ' out of <b>' + this.total + '</b>'
                    }
                }
            }
        },

        series: [   {
                        name: 'Puppies per color',
                        // center: [250, 120],
                        // showInLegend:true,
                        data: <%= @puppy_data.to_s.html_safe %>
                    }
                ]


    });
});
</script>
